/* Header Style */
* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {

    background-image: url("images/banner/banner2.png");
    background-position: absolute;

    height: 809px;
    left: 1600px;
    top: 0px;
}

.banner-title {
    color: #000000;
    font-size: 60px;
    font-weight: 700;
    text-align: right;
    padding-top: 200px;
    padding-right: 230px;



}

.banner-description {
    text-align: right;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-right: 186px;
    padding-bottom: 75px;



}

.btn-primary {
    background-color: rgba(251, 79, 17, 0.986);
    position: absolute;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;

}

/* Main body style */
/* .failure {
    display: flex;
} */
.failure-body {
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-right: 330px;
    margin-left: 206px;

}

.person {
    background-color: none;
}

.failure-title {
    font-size: 45px;
    font-weight: 700;
    color: #151414;
    padding-left: 82px;
}

.failure-sub {
    color: #444343;
    font-size: 16px;
    padding-left: 82px;
    padding-top: 24px;
    /* padding-right: 327px; */
}

.failure-container {
    color: #444343;
    font-size: 16px;
    padding-left: 82px;
    padding-top: 16px;
    font-weight: 400;
    gap: 5px;

}

#content {
    color: green;
    border-right-style: none;
    border-radius: 2px;
}

.plan {
    text-align: center;
    font-size: 40px;
}

.my-plans {
    justify-content: center;
    gap: 60px;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;

}

.plan-img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}


.gradient-container {


    background-image: linear-gradient(rgba(160, 186, 14, 0.476),
            rgba(4, 68, 68, 0.52)),
        url(images/watch.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.gradient {
    margin-left: 63px;
    padding-right: 618px;

}

.gradient-tittle {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    padding-top: 65px;

}

.btn-secondary {
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 20px 26px;
    border-radius: 5px;
    border: none;
    margin-bottom: 52px;

}

/* .My-plans-title {
    display: flex;
    color: rgb(0, 0, 0);
} */

footer {
    background: #151414;
    color: #FFFFFF;
    display: flex;
    margin-top: 85px;
    gap: 50px;
    align-items: center;
    margin-bottom: 60px;
}

.footer-info {
    padding-left: 200px;
    padding-top: 170px;
    margin-bottom: 80px;
}

.footer-tittle {
    font-weight: 700;
    font-size: 45px;
}

.footer-subs {
    padding-right: 200px;
}

.btn-third {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background-color: #da0000;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 15px;
}